.header h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color:khaki;
    text-align: center;
    background-image: url(./images/pattern.jpg);
    margin: 60px 0;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white;
    width: 100%
}

span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.brushes h2 {
    background-color: mediumspringgreen;
}

.frames h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}

p {
    font-family: Helvetica;
}